.item-page-container {
    margin: auto;
    width: 90vw;
    max-width: 600px;
    background-color: white;
    padding-bottom: 20px;
}


.info-page-container {
    margin: 20px;
}

.item-title {
    font-size: 25pt;
}

.item-price {
    font-size: 20pt;
    margin: 0;
}

.add-to-cart {
    margin: auto;
    display: inline;
    padding: 10px;
    background-color: transparent;
    font-weight: 900;
    border: solid 2px rgba(60, 60, 60, .5);
}

.add-to-cart:hover {
    color: rgba(60, 60, 60, .5);
    border-color: black;
}

.qty {
    display: inline;
}