.sign-in-sign-up {
    position: relative;
    top: 100px;
}

.sign {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 40px auto;
    background-color: white;
    border: solid black 2px;
}

.title {
    text-align: center;
    margin: 20px;
}

.sub {
    text-align: center;
    margin: 10px;
}

input {
    margin: 10px;
    background-color: white;
    border: solid black 1px;
}

.submit {
    padding: 10px;
    border-radius: 3px;
    border: solid 2px rgba(60, 60, 60, .5);
}

.submit:hover {
    border-color: black;
}

.google-sign-in {
    background-color: rgba(72, 72, 255, 0.795);
    color: white;
}

.submit:hover {
    position: relative;
    top: -2px;
    left: -2px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}