.nav-container {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(39, 39, 39);
    height: 70px;
    width: 100%;
    display: inline-flex;
}

.scrolled { 
    background-image: linear-gradient(to bottom,rgb(10, 44, 10) 0%,  rgba(10, 44, 10, 0.9) 100%);
}

.logo {
    position: relative;
    height: 50px;
    width: 20vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cart {
    position: absolute;
    right: 0;
}

.nav-container>ul>li {
    position: relative;
    display: block;
    margin: 5%;
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.nav-container>ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
}