.home-page {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.page {
    top: 300px;
}

.item-page {
    top: 100px;
}

.item-page, .page {
    position: relative;
    margin: auto;
    width: 100vw;
    height: 100vh;
}
