.cart-page {
    position: relative;
    top: 80px;
}

.cart-controls {
    margin: 20px;
    display: inline;
    padding: 10px;
    background-color: transparent;
    font-weight: 900;
    border: solid 2px rgba(60, 60, 60, .5);
    background-color: white;
}

.cart-controls:hover {
    color: rgba(60, 60, 60, .5);
    border-color: black;
}

.cart-controls-wrap {
    margin: auto;
    width: 89vw;
    max-width: 1000px;
}

.cart-total {
    width: 89vw;
    max-width: 1000px;
    background-color: white;
    border: solid 2px black;
    margin: auto;
    padding: 1vw;
}

.empty-cart {
    text-align: center;
}

.cart-check-out {
    position: fixed;
    display: none;
    top: 70px;
    background-color: white;
    width: 100vw;
    max-width: 1500px;
    height: 100vh;
    overflow: scroll;
}

.visible {
    display: block;
}

.cart-check-out-explain {
    width: 80vw;
    margin: 40px auto;
}

.check-out-item {
    position: relative;
    border: solid 2px black;
    width: 90vw;
    height: 150px;
    margin: 20px;
}

.check-out-image {
    display: inline-block;
    width: 30%;
    height:100%;
    margin-right: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

.check-out-text-box {
    position: absolute;
    top: 0;
    display: inline-block;
    height: 100%;
    width: 60%;
    margin: 10px;
}

#close {
    position: fixed;
    z-index: 100;
    top: 60px;
    left: -10px;
}

.check-out-item:last-child {
    margin-bottom: 100px;
}